<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Eğitimleri 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="vue-app">
        <h1>Klavye Etkinlikleri</h1><!-- enter, tab, delete, esc, space, up, down, left, right -->
        <label>İsim:</label>
        <input type="text" v-model="name"> <!-- .enter modifier'ı Enter'a basıldığında -->
        <span>{{ name }}</span>
        <label>Yaş:</label>
        <input type="text" v-model="age">
        <span>{{ age }}</span>
    </div>

    <script src="app.js"></script>
</body>
</html>