<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Eğitimleri 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="vue-app">
        <h1>Şart İşlemleri</h1>
        <button @click="error = !error">Hata Toggle'ı</button>
        <button @click="success = !success">Başarılı İşlem Toggle'ı</button>
        <p v-if="error">Hatalı İşlem</p>
        <p v-else-if="success">Başarılı İşlem</p> <!-- success true bile olsa error true olmadan bu tarafı kontrol etmez, v-if element'i dom'dan kaldırır -->
        <p v-if="success">Başarılı İşlem</p>

        <p v-show="error">Hatalı İşlem v-show</p> <!-- v-show sadece style display none verir. -->
        <p v-show="success">Başarılı İşlem v-show</p>


    </div>

    <script src="app.js"></script>
</body>
</html>