<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Eğitimleri 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="vue-app">
        <h1>Nesne ve Diziler ile Döngü İşlemleri</h1>
        <ul>
            <li v-for="character in characters">{{ character }}</li>
        </ul>

        <ul>
            <li v-for="(detay, index) in detaylar">{{ index }}. {{ detay.name }} - {{ detay.age }}</li>
        </ul>
        
        <div v-for="(detay, index) in detaylar">
            <h3>{{ index }}. {{ detay.name }}</h3>
            <p>{{ detay.age }}</p>
        </div>

        <template v-for="(detay, index) in detaylar"> <!-- div yerine template kullanıcı ekranda sadece h3 ve p'leri gösterdiğini görürüz. Oysa template yerine div yazdığında h3 ve p bir div'in içinde görünüyordu -->
            <h3>{{ index }}. {{ detay.name }}</h3>
            <p>{{ detay.age }}</p>
        </template>

        <template v-for="detay in detaylar">
            <div v-for="(val, key) in detay">
                <p>{{ key }} - {{ val }}</p>
            </div>
        </template>

    </div>

    <script src="app.js"></script>
</body>
</html>